<footer class="border-top footer text-muted">
    <h5>CONTACT US</h5>
    
    <p>ตึก ECC เลขที่ 1 ซอยฉลองกรุง 1 เขตลาดกระบัง แขวงลาดกระบัง กรุงเทพฯ 10520<br>โทรศัพท์ : 02-329-8341 ~ 2, โทรสาร : 02-329-8343, อีเมล : cekmitl@kmitl.ac.th</p>
    @* <p>Phone : 02-329-8341 E-mail : cekmitl@kmitl.ac.th</p> *@
</footer>