<footer class="border-top footer text-muted">
        <div class="container">
            <div id="left-footer">
                <h4>CONTACT US</h4>
                <br>
                <p>Address : ECC Building Moo 1 Ladkrabang 1, ถนน ฉลองกรุง 22 แขวง ลำปลาทิว เขตลาดกระบัง กรุงเทพมหานคร 10520</p>
                <p>Phone : 02-329-8341</p>
                <p>E-mail : cekmitl@kmitl.ac.th</p>
            </div>
        </div>
</footer>