<nav>
    <ul>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="dropdown">
            <button class="dropbtn">LAB</button>
            <div class="dropdown-content">
                <a asp-area="" asp-controller="Lab" asp-action="Hardware">Hardware</a>
                <a asp-area="" asp-controller="Lab" asp-action="HCRL">HCRL</a>
                <a asp-area="" asp-controller="Lab" asp-action="Robot">Robot</a>
                <a asp-area="" asp-controller="Lab" asp-action="ESL">ESL</a>
                <a asp-area="" asp-controller="Lab" asp-action="Network">Network</a>
            </div>
        <li>
            <a asp-area="" asp-controller="Lab" asp-action="Network">Network</a>
        </li>
        <li style="float:right">
            <a asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
        </li>
    </ul>
</nav>

@* <ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </li>
</ul> *@


@* <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ozzy_mvc</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Create">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
                </li>
            </ul>
        </div>
    </nav>
</header> *@