<nav>
    <ul>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="dropdown" id="dropdown" general="">
            <button class="dropbtn">LAB</button>
            <div class="dropdown-content">
                <a asp-area="" asp-controller="Lab" asp-action="Hardware">Hardware</a>
                <a asp-area="" asp-controller="Lab" asp-action="HCRL">HCRL</a>
                <a asp-area="" asp-controller="Lab" asp-action="Robot">Robot & IoT</a>
                <a asp-area="" asp-controller="Lab" asp-action="ESL">ESL</a>
                <a asp-area="" asp-controller="Lab" asp-action="Network">Network</a>
            </div>
        </li>
        <li>
            <a asp-area="" asp-controller="Lab" asp-action="Network">Network</a>
        </li>
        <li class="dropdown" style="float: right;">
            <button class="user-button" onclick="myFunction()">
                <div class="profile-picture">
                    @Context.Request.Cookies["CurrentUsername"].Substring(0,1)
                </div>
                &emsp;@Context.Request.Cookies["CurrentUsername"] &emsp;
            </button>
            <div class="dropdown-content" id="myDropdown" notgeneral="">
                <a asp-area="" asp-controller="Student" asp-action="Details" asp-route-id=@Context.Request.Cookies["CurrentID"]>My Profile</a>
                <a asp-area="" asp-controller="Student" asp-action="Edit" asp-route-id=@Context.Request.Cookies["CurrentID"]>Edit Profile</a>
                <a asp-area="" asp-controller="Equipment" asp-action="Inventory" asp-route-id=@Context.Request.Cookies["CurrentID"]>Inventory</a>
                <a asp-area="" asp-controller="Auth" asp-action="Logout">Logout</a>
            </div>         
        </li>    
    </ul>
</nav>


<script>
function myFunction() { 
    document.getElementById("myDropdown").classList.toggle("dropdown-content-user-button"); //TOGGLE BUTTON
    document.querySelector('nav').style.setProperty('--enable', '#88490e');   //CHANGE COLOR TO #88490e WHEN ACTIVE
}
    
window.onclick = function(e) {
    if (!e.target.matches('.user-button')) {
        if (document.getElementById("myDropdown").classList.contains('dropdown-content-user-button')) {
            document.getElementById("myDropdown").classList.remove('dropdown-content-user-button');
        }   //Close the dropdown if the user clicks outside of it
    }
    if (!document.getElementById("myDropdown").classList.contains('dropdown-content-user-button')) {
        document.querySelector('nav').style.setProperty('--enable', '#684933');   
    }   //CHANGE COLOR BACK (#684933) WHEN NOT ACTIVE
}
</script>

@* <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ozzy_mvc</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">My
                        Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header> *@