@model ozzy_mvc.Models.Equipment

@{
    ViewData["Title"] = "Create";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Register</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/equipment-create.css" />
</head>


<body>
<div class="create-equipment-cointainer">

<h1>Equipment</h1>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <label>
            EquipmentID
            <input asp-for="EquipmentName" class="inputField" />
        </label>
        <span asp-validation-for="EquipmentName" class="text-danger"></span>
        <label>
            EquipmentType
            <select asp-for="EquipmentType" class ="inputSelectField" asp-items="ViewBag.EquipmentType"></select>
        </label>
        <label>
            Description
            <input asp-for="Description" class="inputField" />
        </label>
        <span asp-validation-for="Description" class="text-danger"></span>
        <label>
            LabName
            <select asp-for="LabName" class ="inputSelectField" asp-items="ViewBag.LabName"></select>
        </label>

        <input type="submit" value="Create" id="btnCreateEquipment" />
    </form>

    <a asp-action="Index">Back to List</a>

</div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
