@model ozzy_mvc.Models.Equipment

@{
    ViewData["Title"] = "Edit";
}

<div class="edit-cointainer">
    <h4>Equipment</h4>

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="EquipmentID" />
        <label>
            EquipmentName
            <input asp-for="EquipmentName" class="form-control" />
        </label>
        <span asp-validation-for="EquipmentName" class="text-danger"></span>
        <label>
            EquipmentType
            <select asp-for="EquipmentType" class ="form-control" asp-items="ViewBag.EquipmentType"></select>
        </label>
        <label>
            Description
            <input asp-for="Description" class="form-control" />
        </label>
        <span asp-validation-for="Description" class="text-danger"></span>
        <label>
            LabName
            <select asp-for="LabName" class ="form-control" asp-items="ViewBag.LabName"></select>
        </label>

        <input type="submit" value="Save" class="btn btn-primary" />

    </form>
</div>

<div>
    <a asp-action="Index">Back to Listaaaaaaaaaa</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
