/* Inventory Table */
table {
    width: 1520px;
    border-spacing: 0;
    position: relative;
    margin: auto;
    border: 1px solid black;
    border-radius: 25px;
}

thead tr {
    display: block;
    background-color: #FCE5DF;
    border-radius: 25px 25px 0px 0px;
}

tbody {
    display: block;
    background-color: #FDF6ED;
    height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
}

tfoot tr {
    display: block;
    background-color: #FDF6ED;
    border-radius: 0px 0px 25px 25px;
}



tbody::-webkit-scrollbar {
    display: none;
}


th {
    height: 75px;
    text-align: center;
    font-size: 24px;
}

td {
    height: 75px;
    text-align: center;
    font-size: 24px;
    border-bottom: 1px solid #4E2C0D;
}

th.EquipmentName,
td:nth-child(1) {
    width: 360px;
}

th.LabName,
td:nth-child(2) {
    width: 240px;
}

th.Date,
td:nth-child(3) {
    width: 240px;
}

th.TimeSlot,
td:nth-child(4) {
    width: 240px;
}

th.Morning,
td:nth-child(5) {
    width: 240px;
}

th.Afternoon,
td:nth-child(6) {
    width: 240px
}

th.Evening,
td:nth-child(7) {
    width: 240px;
}

tfoot tr{
    border-bottom: none;
    text-align: right;
}

tfoot td{
    border-top: 1px solid #4E2C0D;
    border-bottom: none;
}

.fa-check {
    color: green;
}

.fa-remove {
    color: red;
}

/* Webpage Style*/
.inventory-container{
    display: flex;
    min-height: 95vmin;
    justify-content: center;
}