@{
    ViewData["Title"] = "Admin Panel";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <link rel="StyleSheet" href="~/css/admin.css" />

</head>

<body>
    <div class="banner">
        Welcome Admin
    </div>
    <div class="contain-btn">
        <a asp-controller="Student" asp-action="Index" class="btn">
            <p>Student Management</p>
        </a>
        <a asp-controller="Booking" asp-action="Index" class="btn">
            <p>Booking Management</p>
        </a>
        <a asp-controller="Equipment" asp-action="Index" class="btn">
            <p>Equipment Management</p>
        </a>
    </div>
</body>

</html>