@{
    ViewData["Title"] = "Admin Panel";
}

<div class="text-center">
    <h1 class="display-4">Welcome Admin</h1>
    <a asp-controller="Student" asp-action="Index"><h1 class="display-6">Student Management</h1></a>
    <a asp-controller="Equipment" asp-action="Index"><h1 class="display-6" >Equipment Management</h1></a>
    <a asp-controller="Booking" asp-action="Index"><h1 class="display-6">Booking Management</h1></a>
</div>