<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <title>laboratory_instrument_booking_system</title>
    <link rel="StyleSheet" href="home.css" />

</head>

<body>
    <div id="content-container">

        <div id="_bg__guestpage_1"></div>

        <div id="footer">

            <div id="background_banner"></div>
            <div id="contact_here___this_is_footer">
                Contact Here : This is Footer
            </div>

        </div>

        <div id="body_background">

            <div id="background_banner_ek1"></div>

        </div>

        <div id="standard_banner">

            <div id="background_banner_ek3"></div>
            <div id="kmitl_laboratory_system">
                KMITL Laboratory System
            </div>

        </div>

        <div class='carousel'>
            <input checked='checked' class='carousel__activator' id='carousel-slide-activator-1' name='carousel' type='radio'>
            <input class='carousel__activator' id='carousel-slide-activator-2' name='carousel' type='radio'>
            <div class='carousel__controls'>
                <label class='carousel__control carousel__control--forward' for='carousel-slide-activator-2'>
              👉
            </label>
            </div>
            <div class='carousel__controls'>
                <label class='carousel__control carousel__control--backward' for='carousel-slide-activator-1'>
              👈
            </label>
            </div>
            <div class='carousel__screen'>
                <div class='carousel__track'>
                    <div class='carousel__item carousel__item--desktop-in-3'>
                        <div class='demo-content'>
                            a
                        </div>
                    </div>
                    <div class='carousel__item carousel__item--desktop-in-3'>
                        <div class='demo-content'>
                            b
                        </div>
                    </div>
                    <div class='carousel__item carousel__item--desktop-in-3'>
                        <div class='demo-content'>
                            c
                        </div>
                    </div>
                    <div class='carousel__item carousel__item--desktop-in-3'>
                        <div class='demo-content'>
                            d
                        </div>
                    </div>
                    <div class='carousel__item carousel__item--desktop-in-3'>
                        <div class='demo-content'>
                            e
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="guestpage_navbar">

            <div id="navbar_background_ek1"></div>

            <a id="user_button_cls_a">

                <div id="login_button"></div>

                <div id="user_icon">
                    <div id="user_icon_1"></div>
                    <div id="user_icon_2"></div>
                    <div id="user_icon_3"></div>
                </div>
                <div id="login_text">
                    Login
                </div>

            </a>

            <div id="search_bar">
                <div id="search_box"></div>

                <div id="search_icon">
                    <div id="search_icon_box"></div>

                    <div id="search_icon_inside">
                        <div id="search_icon_inside_1"></div>
                        <div id="search_icon_inside_2"></div>

                    </div>

                </div>

            </div>

            <div id="menu_button">
                <button id="openbtn" onclick="openNav()">☰</button>
            </div>

        </div>

    </div>

    <div id="navigation_bar">
        <div id="navigator_tab_back"></div>
        <div id="navigator_tab_front"></div>

        <div id="close_button">
            <div id="close_circle"></div>
            <div id="close_arrow">
                <img src="skins/polygon_3_ek2.png" id="close_arrow_img" />
            </div>
            <button id="closebtn" onclick="closeNav()"></button>
        </div>

        <div id="manage_user_button">
            <div id="manage_user_text">
                Manage Users
            </div>

        </div>

        <div id="manage_booking">
            <div id="manage_booking_text">
                Manage Booking
            </div>

        </div>

        <div id="manage_item">
            <div id="manage_item_text">
                Manage Items
            </div>

        </div>

        <div id="iventory">
            <div id="iventory_text">
                Inventory
            </div>

        </div>

        <div id="laboratory">
            <div id="laboratory_text">
                Laboratory
            </div>

        </div>

    </div>

    <script>
        function openNav() {
            document.getElementById("navigation_bar").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("navigation_bar").style.width = "0";
        }
    </script>

</body>

</html>