@model ozzy_mvc.Models.Booking

@{
    ViewData["Title"] = "Create";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Register</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/booking-create.css" />
</head>
<body>
<div class="create-booking-cointainer">
    <h1>Booking</h1>
    
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <label>
            StudentID
            <select asp-for="StudentID" class ="inputField" asp-items="ViewBag.StudentID"></select>
        </label>
        <label>
            EquipmentID
            <select asp-for="EquipmentID" class ="inputField" asp-items="ViewBag.EquipmentID"></select>
        </label>
        <label>
            TimeSlot
            <select asp-for="TimeSlot" class ="inputField" asp-items="ViewBag.TimeSlot"></select>
        </label>
        <label>
            Date
            <input type="date" dateformat="d M y" asp-for="Date" class="inputDateField" />
        </label>
        <span asp-validation-for="Date" class="text-danger"></span>

        <input type="submit" value="Create" id="btnCreateBooking"/>
    </form>

    <a asp-action="Index">Back to List</a>
</div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
