@{
    ViewData["Title"] = "Hardware Lab";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>@ViewData["Title"] - ozzy_mvc</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/lab/lab.css" />
</head>

<body>

    <div class="lab-banner">
        Hardware Laboratory
    </div>

    <div class="lab-detail">
        <div class="contain-lab-img">
            <img class="lab-detail-img" src="~/image/LAB/HARDWARE/1 - HARDWARE.jpg" alt="Hardware Lab">
        </div>
        <div class="lab-detail-str">
            <h1 style="font-size: 2vw;">ห้องปฎิบัติการฮาร์ดแวร์</h1>

            <p>
                ห้องปฏิบัติการ Hardware ตั้งอยู่ที่ห้อง 504 ชั้น 5 อาคารปฏิบัติการรวมวิศวกรรมศาสตร์ 2 (ECC Building) 
                สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง โดยมีผู้ดูแลคือ นาย ภูรี ต่อตรงนิสาร (61010839)
            </p>
            <p>
                ห้องปฏิบัติการ Hardware เปิดบริการให้นักศึกษาสามารถเข้ามาใช้พื้นที่ อีกทั้งยังสามารถยืมเครื่องมือช่างพื้นฐานเพื่อใช้งานได้ 
                เช่น เซ็ตสว่านไฟฟ้า, ไขควง, หัวแร้ง, ค้อน, คีม, ชะแลง และประแจ เป็นต้น
            </p>
        </div>
    </div>

    <div class="lab-element">
        <figure>
            <figcaption>Electric Drill Set</figcaption>
            <img class="lab-img-item" src="~/image/LAB/HARDWARE/1A - Electric Drill Set.jpg" alt="Electric Drill Set">
        </figure>

        <div class="lab-table-reserve">
            <p><b>การใช้งาน</b> : เจาะเหล็ก, เจาะไม้, เจาะปูนและคอนกรีต</p>
            <p><b>โวลต์</b> : 68V</p>
            <p><b>ความเร็วรอบ</b> : 0-360 / 0-1300 rpm</p>
            <p><b>ฟังก์ชันเพิ่มเติม</b> : มีหลอดไฟ LED ส่องสว่างขณะทำงาน, ปรับซ้าย-ขวาได้</p>
            <p><b>อุปกรณ์ในเซ็ต</b> : แบตเตอรี่ลิเธียม, ที่ชาร์จไฟ, ดอกไขควงและดอกสว่าน, กระดูกงู, ลูกบล็อก</p>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>Reserved</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td>No.1</td>
                    <td>22/04/2564</td>
                    <td>noon</td>
                    <td>even</td>
                    <td>night</td>
                </tr>
                <tr>
                    <td>No.2</td>
                    <td>23/04/2564</td>
                    <td>noon</td>
                    <td>even</td>
                    <td>night</td>
                </tr>
                <tr>
                    <td>No.3</td>
                    <td>24/04/2564</td>
                    <td>noon</td>
                    <td>even</td>
                    <td>night</td>
                </tr>
            </table>
            <p><b>TEST</b></p>
            <p><b>TEST</b></p>
            <p><b>TEST</b></p>
            <p><b>TEST</b></p>
            <p><b>TEST</b></p>
            <p><b>TEST</b></p>
            <p><b>TEST</b></p>

            <div class='btn-add-reserve'>
                <label>
                    +
                </label>
            </div>
        </div>
    </div>
    <br>

    <div class="lab-element">
        <figure>
            <figcaption>Screwdriver Set</figcaption>
            <img class="lab-img-item" src="~/image/LAB/HARDWARE/1B - Screwdriver Set.jpg" alt="Screwdriver Set">
        </figure>
        <div class="lab-table-reserve">
            <p><b>การใช้งาน</b> : ขันน็อตทั่วไป</p>
            <p><b>วัสดุ</b> : Chromium Vanadium 6150</p>
            <p><b>ฟังก์ชันเพิ่มเติม</b> : มีแม่เหล็กสำหรับดูดน็อต, ยางกันลื่น ให้ความรู้สึกนุ่ม ใช้งานสะดวก</p>
            <p><b>อุปกรณ์ในเซ็ต</b> : ไขควงหัวแม่เหล็กต่างขนาดทั้งหมด 42 ชิ้น</p>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>Not Reserved</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <div class='btn-add-reserve'>
                <label>
                    +
                </label>
            </div>
        </div>
    </div>
    <br>

    <div class="lab-element">
        <figure>
            <figcaption>Soldering Iron</figcaption>
            <img class="lab-img-item" src="~/image/LAB/HARDWARE/1C - Soldering Iron.jpg" alt="Soldering Iron">
        </figure>
        <div class="lab-table-reserve">
            <p><b>การใช้งาน</b> : ละลายตัวเชื่อมชิ้นงานขนาดเล็ก (บัดกรี)</p>
            <p><b>วัสดุ</b> : สแตนเลส 304</p>
            <p><b>ฟังก์ชันเพิ่มเติม</b> : ปรับกำลังไฟตั้งแต่ 5-60 วัตต์ เร่งอุณหภูมิสูงสุด  480 °C ภายใน 15 วินาที</p>
            <p><b>อุปกรณ์ในเซ็ต</b> : ที่จับชิ้นงาน, หัวเปลี่ยนสำหรับหัวแร้ง 5 รูปแบบ, หัวแร้งพร้อมที่วาง และลวดขัดหัว, ตะกั่ว</p>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>Not Reserved</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <div class='btn-add-reserve'>
                <label>
                    +
                </label>
            </div>
        </div>
    </div>
    <br>

    <div class="lab-element">
        <figure>
            <figcaption>Hammer</figcaption>
            <img class="lab-img-item" src="~/image/LAB/HARDWARE/1D - Hammer.jpg" alt="Hammer">
        </figure>
        <div class="lab-table-reserve">
            <p><b>การใช้งาน</b> : ตอก หรือทุบบนวัตถุอื่น, งัดตะปู</p>
            <p><b>ขนาด</b> : 16 Oz</p>
            <p><b>วัสดุ</b> : สแตนเลส 304, ยางกันลื่น (ที่ด้ามจับ)</p>
            <p><b>ฟังก์ชันเพิ่มเติม</b> : มีแม่เหล็กสำหรับดูดน็อต, ยางกันลื่น ให้ความรู้สึกนุ่ม ใช้งานสะดวก</p>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>Not Reserved</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <div class='btn-add-reserve'>
                <label>
                    +
                </label>
            </div>
        </div>
    </div>
    <br>

    <div class="lab-element">
        <figure>
            <figcaption>Hacksaw</figcaption>
            <img class="lab-img-item" src="~/image/LAB/HARDWARE/1E - Hacksaw.jpg" alt="Hacksaw">
        </figure>
        <div class="lab-table-reserve">
            <p><b>การใช้งาน</b> : ตัดพลาสติก หรือเหล็ก</p>
            <p><b>ขนาด</b> : ใบเลื่อยยาว 10", 12"</p>
            <p><b>วัสดุ</b> : ด้ามจับเหล็ก</p>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>Not Reserved</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <div class='btn-add-reserve'>
                <label>
                    +
                </label>
            </div>
        </div>
    </div>
    <br>

    <div class="lab-element">
        <figure>
            <figcaption>Pliers</figcaption>
            <img class="lab-img-item" src="~/image/LAB/HARDWARE/1F - Pliers.jpg" alt="Pliers">
        </figure>
        <div class="lab-table-reserve">
            <p><b>การใช้งาน</b> : หนีบจับสิ่งของ</p>
            <p><b>วัสดุ</b> : คีมจับเหล็กชุบแข็ง, ด้ามจับหุ้มพลาสติก</p>
            <p><b>ฟังก์ชันเพิ่มเติม</b> : คีมตัดข้าง, คีมปากแหลม, คีมปากขยาย, คีมตัด</p>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>Not Reserved</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <div class='btn-add-reserve'>
                <label>
                    +
                </label>
            </div>
        </div>
    </div>
    <br>

    <div class="lab-element">
        <figure>
            <figcaption>Crowbar</figcaption>
            <img class="lab-img-item" src="~/image/LAB/HARDWARE/1G - Crowbar.jpg" alt="Crowbar">
        </figure>
        <div class="lab-table-reserve">
            <p><b>การใช้งาน</b> : เจาะ, ตอก, แซะ, งัดวัตถุชิ้นงาน</p>
            <p><b>วัสดุ</b> : เหล็กกล้าคาร์บอน</p>
            <p><b>ฟังก์ชันเพิ่มเติม</b> : สามารถงัดตะปูได้ที่ปลายชะแลง</p>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>Not Reserved</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <div class='btn-add-reserve'>
                <label>
                    +
                </label>
            </div>
        </div>
    </div>
    <br>

    <div class="lab-element">
        <figure>
            <figcaption>Wrench</figcaption>
            <img class="lab-img-item" src="~/image/LAB/HARDWARE/1H - Wrench.jpg" alt="Wrench">
        </figure>
        <div class="lab-table-reserve">
            <p><b>การใช้งาน</b> : ขันเกลียวน็อต, ยึดอุปกรณ์ต่างๆ</p>
            <p><b>ขนาด</b> : 8"</p>
            <p><b>วัสดุ</b> : เหล็กกล้าคาร์บอนเคลืออบนิกเกิล</p>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>Not Reserved</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <div class='btn-add-reserve'>
                <label>
                    +
                </label>
            </div>
        </div>
    </div>

</body>

</html>