@{
    ViewData["Title"] = "HCRL Lab";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>@ViewData["Title"] - ozzy_mvc</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/lab/lab.css" />
</head>

<body>

    <div class="lab-banner">
        HCRL Laboratory
    </div>

    <div class="lab-detail">
        <div class="contain-lab-img">
            <img class="lab-detail-img" src="~/image/LAB/HCRL/2 - HCRL.jpg" alt="HCRL Lab">
        </div>
        <div class="lab-detail-str">
            <h1 style="font-size: 2vw;">ห้องปฎิบัติการวิจัย และค้นคว้าระบบสมองกลลูกผสม</h1>

            <p>
                ห้องปฏิบัติ HCRL ตั้งอยู่ที่ห้อง 607 ชั้น 6 อาคารปฏิบัติการรวมวิศวกรรมศาสตร์ 2 (ECC Building) 
                สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง โดยมีผู้ดูแลคือ นาย ธนกฤต รังสิยานุวัตร (61010418)
            </p>
            <p>
                ห้องปฏิบัติการ HCRL เปิดบริการให้นักศึกษายืมจอคอมพิวเตอร์ และโปรเจคเตอร์เท่านั้น
            </p>
        </div>
    </div>

    <div class="lab-element">
        <figure>
            <figcaption>Monitor</figcaption>
            <img class="lab-img-item" src="~/image/LAB/HCRL/2A - Monitor.jpg" alt="Monitor">
        </figure>

        <div class="lab-table-reserve">
            <p><b>ขนาด</b> : 23.8"</p>
            <p><b>ความละเอียด</b> : Full HD</p>
            <p><b>พาแนล</b> : IPS</p>
            <p><b>การเชื่อมต่อ</b> : VGA, HDMI</p>
            <p><b>ฟังก์ชันเพิ่มเติม</b> : เทคโนโลยี AMD FreeSync™, Flicker-Safe, ดีไซน์ไร้ขอบ 3</p>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>Reserved</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td>No.1</td>
                    <td>22/04/2564</td>
                    <td>noon</td>
                    <td>even</td>
                    <td>night</td>
                </tr>
                <tr>
                    <td>No.2</td>
                    <td>23/04/2564</td>
                    <td>noon</td>
                    <td>even</td>
                    <td>night</td>
                </tr>
                <tr>
                    <td>No.3</td>
                    <td>24/04/2564</td>
                    <td>noon</td>
                    <td>even</td>
                    <td>night</td>
                </tr>
            </table>
            <p><b>TEST</b></p>
            <p><b>TEST</b></p>
            <p><b>TEST</b></p>
            <p><b>TEST</b></p>
            <p><b>TEST</b></p>
            <p><b>TEST</b></p>
            <p><b>TEST</b></p>

            <div class='btn-add-reserve'>
                <label>
                    +
                </label>
            </div>
        </div>
    </div>
    <br>

    <div class="lab-element">
        <figure>
            <figcaption>Projector</figcaption>
            <img class="lab-img-item" src="~/image/LAB/HCRL/2B - Projector.jpg" alt="Projector">
        </figure>
        <div class="lab-table-reserve">
            <p><b>ความสว่าง</b> : 4,500</p>
            <p><b>ความละเอียด</b> : 1024x768(XGA)</p>
            <p><b>อัตราส่วนค่าคอนทราสท์</b> : 20,000:1</p>
            <p><b>การเชื่อมต่อ</b> : VGA, HDMI</p>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>Not Reserved</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <div class='btn-add-reserve'>
                <label>
                    +
                </label>
            </div>
        </div>
    </div>
    
</body>

</html>