@{
    ViewData["Title"] = "Network Lab";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Network Laboratory</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/lab/lab.css" />
</head>


<div class="lab-banner">
    Network Labatory
</div>

<div class="lab-detail">
    <div class="contain-lab-img">
        <img class="lab-detail-img" src="~/image/LAB/NETWORK/5 - NETWORK.jpg" alt="Network Lab">
    </div>
    <div class="lab-detail-str">
        <h1 style="font-size: 2vw;">ห้องปฏิบัติการเครือข่าย</h1>

        <p>
            ห้องปฏิบัติการ Network ตั้งอยู่ที่ห้อง 601 ชั้น 6 อาคารปฏิบัติการรวมวิศวกรรมศาสตร์ 2 (ECC Building)
            สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง โดยมีผู้ดูแลคือ นาย ศุภากร วชิรศรัณกูล (61011058)
        </p>
        <p>
            ห้องปฏิบัติการ Network เปิดให้นักศึกษาสามารถยืมอุปกรณ์ทางเครือข่ายต่าง ๆ ได้ เช่น สายแลน เราเตอร์
            คีมเข้าหัวสายแลน และสวิตซ์ เป็นต้น
        </p>
    </div>
</div>

<div class="lab-element">
    <figure>
        <figcaption>Lan CAT6 Cable</figcaption>
        <img class="lab-img-item" src="~/image/LAB/NETWORK/5A - Lan CAT6 Cable.jpg" alt="Lan CAT6 Cable">
    </figure>

    <div class="lab-table-reserve">
        <p><b>ยี่ห้อ</b> : AMP</p>
        <p><b>ความยาว</b> : 3M</p>
        <p><b>การใช้งาน</b> : ใช้สำหรับเชื่อมต่อทางเครือข่าย</p>
        <br>
        <div class="table-reserve">
            <p style="font-size: 2vw;"><b>Reserved</b></p>
            <table class="table">
                <tr>
                    <td>No.1</td>
                    <td>22/04/2564</td>
                    <td>noon</td>
                    <td>even</td>
                    <td>night</td>
                </tr>
                <tr>
                    <td>No.2</td>
                    <td>23/04/2564</td>
                    <td>noon</td>
                    <td>even</td>
                    <td>night</td>
                </tr>
                <tr>
                    <td>No.3</td>
                    <td>24/04/2564</td>
                    <td>noon</td>
                    <td>even</td>
                    <td>night</td>
                </tr>
            </table>
            <div class='btn-add-reserve' id="myBtn">
                <label>
                    +
                </label>
            </div>
        </div>
    </div>
</div>


<br>

<div class="lab-element">
    <figure>
        <figcaption>RJ11/RJ45 Crimping Tool</figcaption>
        <img class="lab-img-item" src="~/image/LAB/NETWORK/5B - RJ11_RJ45 Crimping Tool.jpg"
            alt="RJ11/RJ45 Crimping Tool">
    </figure>
    <div class="lab-table-reserve">
        <p><b>ยี่ห้อ</b> : LINK</p>
        <p><b>การใช้งาน</b> :ใช้สำหรับการเข้าหัวสายแลน หรือสายโทรศัพท์</p>
        <br>
        <table class="table">
            <p style="font-size: 2vw;"><b>Not Reserved</b></p>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <div class='btn-add-reserve' id="myBtn">
            <label>
                +
            </label>
        </div>
    </div>
</div>
<br>
<div class="lab-element">
    <figure>
        <figcaption>Router</figcaption>
        <img class="lab-img-item" src="~/image/LAB/NETWORK/5C - Router.jpg" alt="Router">
    </figure>
    <div class="lab-table-reserve">
        <p><b>ยี่ห้อ</b> : Mikrotik (RB4011iGS+5HacQ2HnD-IN)</p>
        <p><b>การใช้งาน</b> : ใช้เป็นอุปกรณ์หาเส้นทางภายในเครือข่าย</p>
        <br>
        <table class="table">
            <p style="font-size: 2vw;"><b>Not Reserved</b></p>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <div class='btn-add-reserve' id="myBtn">
            <label>
                +
            </label>
        </div>
    </div>
</div>
<br>
<div class="lab-element">
    <figure>
        <figcaption>Switch</figcaption>
        <div class="lab-element">
            <img class="lab-img-item" src="~/image/LAB/NETWORK/5D - Switch.jpg" alt="Switch">
        </div>
    </figure>
    <div class="lab-table-reserve">
        <p><b>ยี่ห้อ</b> : Cisco (SG350-10)</p>
        <p><b>ความยาว</b> : 3M</p>
        <p><b>การใช้งาน</b> : ใช้เพื่อเป็นอุปกรณ์ขยายการเชื่อมต่อภายในเครือข่าย</p>
        <br>
        <table class="table">
            <p style="font-size: 2vw;"><b>Not Reserved</b></p>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <div class='btn-add-reserve' id="myBtn">
            <label>
                +
            </label>
        </div>
    </div>

</div>
<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" style="font-size: 2vw;">&times;</span>
        <p style="font-size: 2vw; line: height 0.25vw;">Booking Calendar</p>
        <table class="table-calendar">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>All Day</th>
                    <th>morning</th>
                    <th>afternoon</th>
                    <th>evening</th>
                </tr>
            </thead>
            <tr>
                <td>today</td>
                <td>25 left</td>
                <td>25 left</td>
                <td>25 left</td>
                <td>25 left</td>
            </tr>
            <tr>
                <td>21/03/2564</td>
                <td>25 left</td>
                <td>25 left</td>
                <td>25 left</td>
                <td>25 left</td>
            </tr>
            <tr>
                <td>22/03/2564</td>
                <td>25 left</td>
                <td>25 left</td>
                <td>25 left</td>
                <td>25 left</td>
            </tr>
        </table>
        <div class="reserve-foot">
            <p style="font-size: 1.5vw;">Amount : </p>
            <form>
                <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
                <input type="number" id="number" value="0" />
                <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
            </form>
            <input type="submit" value="Confirm" class="btn-reserve-confirm" />
        </div>
    </div>

</div>


<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    function increaseValue() {
        var value = parseInt(document.getElementById('number').value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        document.getElementById('number').value = value;
    }

    function decreaseValue() {
        var value = parseInt(document.getElementById('number').value, 10);
        value = isNaN(value) ? 0 : value;
        value < 1 ? value = 1 : '';
        value--;
        document.getElementById('number').value = value;
    }
</script>
