@{
    ViewData["Title"] = "Network Lab";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Network Laboratory</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/lab.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<div class="banner">
    Network Labatory
</div>

<div class="lab-detail">
    <div class="contain-lab-img">
        <img class="lab-detail-img" src="~/image/LAB/NETWORK/5 - NETWORK.jpg" alt="Network Lab">
    </div>
    <div class="lab-detail-str">
        <h1 style="font-size: 2vw;">ห้องปฏิบัติการเครือข่าย</h1>

        <p>
            ห้องปฏิบัติการ Network ตั้งอยู่ที่ห้อง 601 ชั้น 6 อาคารปฏิบัติการรวมวิศวกรรมศาสตร์ 2 (ECC Building)
            สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง โดยมีผู้ดูแลคือ นาย ศุภากร วชิรศรัณกูล (61011058)
        </p>
        <p>
            ห้องปฏิบัติการ Network เปิดให้นักศึกษาสามารถยืมอุปกรณ์ทางเครือข่ายต่าง ๆ ได้ เช่น สายแลน เราเตอร์
            คีมเข้าหัวสายแลน และสวิตซ์ เป็นต้น
        </p>
    </div>
</div>

<div class="lab-element">
    <figure>
        <figcaption>Lan CAT6 Cable</figcaption>
        <img class="lab-img-item" src="~/image/LAB/NETWORK/5A - Lan CAT6 Cable.jpg" alt="Lan CAT6 Cable">
    </figure>

    <div class="item-info">

        <p><b>ยี่ห้อ</b> : AMP</p>
        <p><b>ความยาว</b> : 3M</p>
        <p><b>การใช้งาน</b> : ใช้สำหรับเชื่อมต่อทางเครือข่าย</p>
        <br>

        @* เริ่มตรงนี้ *@
        <table class="reserve-table">
            <thead>
                <tr>
                    <th>
                        Reserved @* Apply If to items booking len *@
                    </th>
                </tr>
            </thead>
            @* Reserved @* Apply If to items booking len *@
            <tbody>
                @* For loop Queries Item here *@
                <tr>
                    <td style="width: 15vw;">
                        No. 1 @* Number of item or UID of item *@
                    </td>
                    <td style="width: 10vw;">
                        22/05/2021 @* Date here *@
                    </td>
                    <td style="width: 5vw;">
                        Sun @* apply if to Timeslot morning *@
                    </td>
                    <td style="width: 5vw;">
                        Sunset @* apply if to Timeslot afternoon *@
                    </td>
                    <td style="width: 5vw;">
                        Moon @* apply if to Timeslot evening *@
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <div class="btn-add-reserve collapsible"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
        <table class="booking-calendar content" style="--coll:true">
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        All Day
                    </th>
                    <th>
                        Morn
                    </th>
                    <th>
                        Noon
                    </th>
                    <th>
                        Night
                    </th>
                </tr>
            </thead>
            <tbody>
                @* For loop 7 days here *@
                <tr>
                    <td>
                        Date @* Display Date form today *@
                    </td>
                    <td>
                        <div class="tableGridBox">
                            <input type="checkbox">
                            <i class="fa fa-check"></i>
                            <i class="fa fa-times"></i>
                            <span class="item-left">
                                25 left
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="tableGridBox">
                            <input type="checkbox">
                            <i class="fa fa-check"></i>
                            <i class="fa fa-times"></i>
                            <span class="item-left">
                                25 left
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="tableGridBox">
                            <input type="checkbox">
                            <i class="fa fa-check"></i>
                            <i class="fa fa-times"></i>
                            <span class="item-left">
                                25 left
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="tableGridBox">
                            <input type="checkbox">
                            <i class="fa fa-check"></i>
                            <i class="fa fa-times"></i>
                            <span class="item-left">
                                25 left
                            </span>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td style="width: 25vw; text-align:right;">
                        Amount :
                    </td>
                    <td style="width: 5vw;">
                        <form id="amount">
                            <input type="number" id="number" value="1" max="25" min="1">
                        </form>
                    </td>
                    <td style="width: 10vw;">
                        <input form="amount" class="light" type="submit" value="Confirm">
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@* ถึงตรงนี้ *@

<br>

<div class="lab-element">
    <figure>
        <figcaption>RJ11/RJ45 Crimping Tool</figcaption>
        <img class="lab-img-item" src="~/image/LAB/NETWORK/5B - RJ11_RJ45 Crimping Tool.jpg"
            alt="RJ11/RJ45 Crimping Tool">
    </figure>
    <div class="item-info">
        <p><b>ยี่ห้อ</b> : LINK</p>
        <p><b>การใช้งาน</b> :ใช้สำหรับการเข้าหัวสายแลน หรือสายโทรศัพท์</p>
        <br>
        @* เริ่มตรงนี้ *@
        <table class="reserve-table">
            <thead>
                <tr>
                    <th>
                        Reserved @* Apply If to items booking len *@
                    </th>
                </tr>
            </thead>
            @* Reserved @* Apply If to items booking len *@
            <tbody>
                @* For loop Queries Item here *@
                <tr>
                    <td style="width: 15vw;">
                        No. 1 @* Number of item or UID of item *@
                    </td>
                    <td style="width: 10vw;">
                        22/05/2021 @* Date here *@
                    </td>
                    <td style="width: 5vw;">
                        Sun @* apply if to Timeslot morning *@
                    </td>
                    <td style="width: 5vw;">
                        Sunset @* apply if to Timeslot afternoon *@
                    </td>
                    <td style="width: 5vw;">
                        Moon @* apply if to Timeslot evening *@
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <div class="btn-add-reserve collapsible"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
        <table class="booking-calendar content" style="--coll:true">
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        All Day
                    </th>
                    <th>
                        Morn
                    </th>
                    <th>
                        Noon
                    </th>
                    <th>
                        Night
                    </th>
                </tr>
            </thead>
            <tbody>
                @* For loop 7 days here *@
                <tr>
                    <td>
                        Date @* Display Date form today *@
                    </td>
                    <td>
                        <div class="tableGridBox">
                            <input type="checkbox">
                            <i class="fa fa-check"></i>
                            <i class="fa fa-times"></i>
                            <span class="item-left">
                                25 left
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="tableGridBox">
                            <input type="checkbox">
                            <i class="fa fa-check"></i>
                            <i class="fa fa-times"></i>
                            <span class="item-left">
                                25 left
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="tableGridBox">
                            <input type="checkbox">
                            <i class="fa fa-check"></i>
                            <i class="fa fa-times"></i>
                            <span class="item-left">
                                25 left
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="tableGridBox">
                            <input type="checkbox">
                            <i class="fa fa-check"></i>
                            <i class="fa fa-times"></i>
                            <span class="item-left">
                                25 left
                            </span>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td style="width: 25vw; text-align:right;">
                        Amount :
                    </td>
                    <td style="width: 5vw;">
                        <form id="amount">
                            <input type="number" id="number" value="1" max="25" min="1">
                        </form>
                    </td>
                    <td style="width: 10vw;">
                        <input form="amount" class="light" type="submit" value="Confirm">
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@* ถึงตรงนี้ *@


<br>
<div class="lab-element">
    <figure>
        <figcaption>Router</figcaption>
        <img class="lab-img-item" src="~/image/LAB/NETWORK/5C - Router.jpg" alt="Router">
    </figure>
    <div class="item-info">
        <p><b>ยี่ห้อ</b> : Mikrotik (RB4011iGS+5HacQ2HnD-IN)</p>
        <p><b>การใช้งาน</b> : ใช้เป็นอุปกรณ์หาเส้นทางภายในเครือข่าย</p>
        <br>
        @* เริ่มตรงนี้ *@
        <table class="reserve-table">
            <thead>
                <tr>
                    <th>
                        Reserved @* Apply If to items booking len *@
                    </th>
                </tr>
            </thead>
            @* Reserved @* Apply If to items booking len *@
            <tbody>
                @* For loop Queries Item here *@
                <tr>
                    <td style="width: 15vw;">
                        No. 1 @* Number of item or UID of item *@
                    </td>
                    <td style="width: 10vw;">
                        22/05/2021 @* Date here *@
                    </td>
                    <td style="width: 5vw;">
                        Sun @* apply if to Timeslot morning *@
                    </td>
                    <td style="width: 5vw;">
                        Sunset @* apply if to Timeslot afternoon *@
                    </td>
                    <td style="width: 5vw;">
                        Moon @* apply if to Timeslot evening *@
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <div class="btn-add-reserve collapsible"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
        <table class="booking-calendar content" style="--coll:true">
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        All Day
                    </th>
                    <th>
                        Morn
                    </th>
                    <th>
                        Noon
                    </th>
                    <th>
                        Night
                    </th>
                </tr>
            </thead>
            <tbody>
                @* For loop 7 days here *@
                <tr>
                    <td>
                        Date @* Display Date form today *@
                    </td>
                    <td>
                        <div class="tableGridBox">
                            <input type="checkbox">
                            <i class="fa fa-check"></i>
                            <i class="fa fa-times"></i>
                            <span class="item-left">
                                25 left
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="tableGridBox">
                            <input type="checkbox">
                            <i class="fa fa-check"></i>
                            <i class="fa fa-times"></i>
                            <span class="item-left">
                                25 left
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="tableGridBox">
                            <input type="checkbox">
                            <i class="fa fa-check"></i>
                            <i class="fa fa-times"></i>
                            <span class="item-left">
                                25 left
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="tableGridBox">
                            <input type="checkbox">
                            <i class="fa fa-check"></i>
                            <i class="fa fa-times"></i>
                            <span class="item-left">
                                25 left
                            </span>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td style="width: 25vw; text-align:right;">
                        Amount :
                    </td>
                    <td style="width: 5vw;">
                        <form id="amount">
                            <input type="number" id="number" value="1" max="25" min="1">
                        </form>
                    </td>
                    <td style="width: 10vw;">
                        <input form="amount" class="light" type="submit" value="Confirm">
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@* ถึงตรงนี้ *@
<br>
<div class="lab-element">
    <figure>
        <figcaption>Switch</figcaption>
        <div class="lab-element">
            <img class="lab-img-item" src="~/image/LAB/NETWORK/5D - Switch.jpg" alt="Switch">
        </div>
    </figure>
    <div class="item-info">
        <p><b>ยี่ห้อ</b> : Cisco (SG350-10)</p>
        <p><b>ความยาว</b> : 3M</p>
        <p><b>การใช้งาน</b> : ใช้เพื่อเป็นอุปกรณ์ขยายการเชื่อมต่อภายในเครือข่าย</p>
        <br>
        @* เริ่มตรงนี้ *@
        <table class="reserve-table">
            <thead>
                <tr>
                    <th>
                        Reserved @* Apply If to items booking len *@
                    </th>
                </tr>
            </thead>
            @* Reserved @* Apply If to items booking len *@
            <tbody>
                @* For loop Queries Item here *@
                <tr>
                    <td style="width: 15vw;">
                        No. 1 @* Number of item or UID of item *@
                    </td>
                    <td style="width: 10vw;">
                        22/05/2021 @* Date here *@
                    </td>
                    <td style="width: 5vw;">
                        Sun @* apply if to Timeslot morning *@
                    </td>
                    <td style="width: 5vw;">
                        Sunset @* apply if to Timeslot afternoon *@
                    </td>
                    <td style="width: 5vw;">
                        Moon @* apply if to Timeslot evening *@
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <div class="btn-add-reserve collapsible"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
        <table class="booking-calendar content" style="--coll:true">
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        All Day
                    </th>
                    <th>
                        Morn
                    </th>
                    <th>
                        Noon
                    </th>
                    <th>
                        Night
                    </th>
                </tr>
            </thead>
            <tbody>
                @* For loop 7 days here *@
                <tr>
                    <td>
                        Date @* Display Date form today *@
                    </td>
                    <td>
                        <div class="tableGridBox">
                            <input type="checkbox">
                            <i class="fa fa-check"></i>
                            <i class="fa fa-times"></i>
                            <span class="item-left">
                                25 left
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="tableGridBox">
                            <input type="checkbox">
                            <i class="fa fa-check"></i>
                            <i class="fa fa-times"></i>
                            <span class="item-left">
                                25 left
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="tableGridBox">
                            <input type="checkbox">
                            <i class="fa fa-check"></i>
                            <i class="fa fa-times"></i>
                            <span class="item-left">
                                25 left
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="tableGridBox">
                            <input type="checkbox">
                            <i class="fa fa-check"></i>
                            <i class="fa fa-times"></i>
                            <span class="item-left">
                                25 left
                            </span>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td style="width: 25vw; text-align:right;">
                        Amount :
                    </td>
                    <td style="width: 5vw;">
                        <form id="amount">
                            <input type="number" id="number" value="1" max="25" min="1">
                        </form>
                    </td>
                    <td style="width: 10vw;">
                        <input form="amount" class="light" type="submit" value="Confirm">
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@* ถึงตรงนี้ *@

<script src="~/js/lab.js"></script>
