@{
    ViewData["Title"] = "Robot & IoT Lab";
}
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>@ViewData["Title"] - ozzy_mvc</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/lab/lab.css" />
</head>

    <div class="lab-banner">
        Robot & IoT Laboratory
    </div>

    <div class="lab-detail">
        <div class="contain-lab-img">
            <img class="lab-detail-img" src="~/image/LAB/ROBOT&IOT/3 - ROBOT&IOT.jpg" alt="Robot & IoT Lab">
        </div>
        <div class="lab-detail-str">
            <h1 style="font-size: 2vw;">ห้องปฎิบัติการวิจัยหุ่นยนต์ และอินเทอร์เน็ตของสรรพสิ่ง</h1>

            <p>
                ห้องปฏิบัติการ Robot & IoT ตั้งอยู่ที่ห้อง 508 ชั้น 5 อาคารปฏิบัติการรวมวิศวกรรมศาสตร์ 2 (ECC Building) 
                สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง โดยมีผู้ดูแลคือ นาย สมพล พิมพ์พิศคนึง (61011066)
            </p>
            <p>
                ห้องปฏิบัติการ Robot & IoT เปิดบริการให้นักศึกษาใช้หุ่นยนต์ต่าง ๆ รวมถึงสถานที่ภายในห้องเพื่อฝึกซ้อม 
                และยังสามารถยืมอุปกรณ์ต่าง ๆ เช่น Arduino, NodeMCU V.3 และ Raspberry Pi 4 เป็นต้น
            </p>
        </div>
    </div>

    <div class="lab-element">
        <figure>
            <figcaption>Arduino</figcaption>
            <img class="lab-img-item" src="~/image/LAB/ROBOT&IOT/3A - Arduino.jpg" alt="Arduino">
        </figure>

        <div class="lab-table-reserve">
            <p>
                Arduino เป็นไมโครคอนโทรลเลอร์ที่มาจากอิตาลี่ เป็นบอร์ดไมโครคอนโทรเลอร์ตระกูล AVR ที่มีการพัฒนาแบบ Open Source 
                มีวัยยากรการเขียนที่คล้ายกับภาษาซี
            </p>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>Reserved</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td>No.1</td>
                    <td>22/04/2564</td>
                    <td>noon</td>
                    <td>even</td>
                    <td>night</td>
                </tr>
                <tr>
                    <td>No.2</td>
                    <td>23/04/2564</td>
                    <td>noon</td>
                    <td>even</td>
                    <td>night</td>
                </tr>
                <tr>
                    <td>No.3</td>
                    <td>24/04/2564</td>
                    <td>noon</td>
                    <td>even</td>
                    <td>night</td>
                </tr>
            </table>
            <p><b>TEST</b></p>
            <p><b>TEST</b></p>
            <p><b>TEST</b></p>
            <p><b>TEST</b></p>
            <p><b>TEST</b></p>
            <p><b>TEST</b></p>
            <p><b>TEST</b></p>

            <div class='btn-add-reserve'>
                <label>
                    +
                </label>
            </div>
        </div>
    </div>
    <br>

    <div class="lab-element">
        <figure>
            <figcaption>NodeMCU V.3</figcaption>
            <img class="lab-img-item" src="~/image/LAB/ROBOT&IOT/3B - NodeMCU.jpg" alt="NodeMCU V.3">
        </figure>
        <div class="lab-table-reserve">
            <p>
                NodeMCU เป็นไมโครคอนโทรลเลอร์ทีมีลักษณะการทำงานตามคำสั่งภาษา C คล้าย Arduino แต่มีลักษณะพิเศษกว่าตรงที่ 
                สามารถเชื่อมต่อกับ WiFi ได้ การควบคุมการทางานสามารถใช้ โปรแกรม Arduino IDE ได้เช่นเดียวกันกับบอร์ด Arduino
            </p>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>Not Reserved</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <div class='btn-add-reserve'>
                <label>
                    +
                </label>
            </div>
        </div>
    </div>
    <br>
    
    <div class="lab-element">
        <figure>
            <figcaption>Raspberry Pi 4</figcaption>
            <img class="lab-img-item" src="~/image/LAB/ROBOT&IOT/3C - Raspberry Pi 4.jpg" alt="Raspberry Pi 4">
        </figure>
        <div class="lab-table-reserve">
            <p>
                บอร์ดคอมพิวเตอร์ขนาดเล็ก (Single-Board Computer หรือ SBC) ที่ถูกพัฒนาขึ้นโดย Raspberry Pi Foundation 
                มีคุณสมบัติเด่น คือ ติดต่อ และความคุมอุปกรณ์อิเล็กทรอนิกส์ได้
            </p>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>Not Reserved</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <div class='btn-add-reserve'>
                <label>
                    +
                </label>
            </div>
        </div>
    </div>