.create-booking-container h1 {
    margin: 0;
    font-size: 4vmin;
}

.create-booking-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50vmin;
    height: fit-content;
    background-color: #FDF6ED;
    font-size: 2vmin;
    border-radius: 4vmin;
    padding: 2vh 2vh 3.5vh 2vh;
}

.create-booking-container form {
    display: flex;
    flex-direction: column;
}

.create-booking-container span {
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
}

.create-booking-container label {
    display: flex;
    font-weight: bold;
    justify-content: flex-end;
    text-align: right;
    margin: 3vh 5.2vh 0 0;
    line-height: 5vh;
}

.create-booking-container .inputField {
    flex: 0 0 13vw;
    margin: 0% 0% 0% 5%;
    font-size: 2.2vmin;
}

.inputDateField {
    flex: 0 0 11.2vw;
    margin: 0% 0% 0% 5%;
    font-size: 2.2vmin;
}

#btnCreateBooking {
    margin: 4vh auto 0 auto;
}