.login-active {
    background-color: rgb(0, 255, 0);
}

.contain-form-regis {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.form-regis {
    width: 400px;
    height:fit-content;
    background-color: #FDF6ED;
    border-radius: 45px;
    padding: 30px 60px 30px 60zpx;
}

.form-login h1 {
    margin: 0;
    padding-bottom: 1.vmin;
    font-size: 4vmin;
}

.form-login p {
    margin: 0;
}

.form-login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
    text-align: center;
    width: 30vmin;
    height:fit-content;
    background-color: #FDF6ED;
    font-size: 1.8vmin;
    border-radius: 4vmin;
    padding: 30px;
}

.inputField{
    height: 5vmin;
    width: 27.5vmin;
    display: block;
    background: #fff;
    border-radius: 20vmin;
    border: 1px solid #fff;
    padding: 0 0 0 7%;
    margin: 5% 0% 0% 0%;
    font-size: 1.6vmin;
    outline: none;
}

.inputField:focus {
    /* outline: none; */
    box-shadow: 0 0 3pt 1pt green;
}

input {
    font-family: kanit;
}


#btnSignUpRe{
    position: relative;
    background: #FCE5DF;
    font-size: 18px;
    color: #8C8C8C;
    width: 10vmax;
    height: 4.5vmin;
    border-radius: 3vmin;
    margin: 10% 0% 1% 0%;
    border: none;
    box-shadow: 2px 2px 10px hsl(0deg 0% 47% / 50%);
}