/* ---------------- ERROR INPUT ---------------- */
.edit-profile-cointainer .field-validation-error {
    font-size: 1.8vmin;
    padding: 0vw 0vw 0vw 5vw;
}

.edit-profile-cointainer .input-validation-error {
    font-size: 1.8vmin;
}
/* ---------------- ERROR INPUT ---------------- */

.edit-profile-cointainer form {
    display: flex;
    flex-direction: column;
}

.edit-profile-cointainer span {
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
}

.edit-profile-cointainer label {
    display: flex;
    font-weight: bold;
    justify-content: center;
    text-align: right;
    margin: 3vh 0 0 0;
    line-height: 5vh; 
}

.edit-profile-cointainer .inputField {
    flex: 0 0 15vw;
    margin: 0% 0% 0% 5%;
    font-size: 2.2vmin;
}

.edit-profile-cointainer h1 {
    margin: 0;
    font-size: 4vmin;
}

.edit-profile-cointainer p {
    margin: 0;
}

.edit-profile-cointainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
    text-align: center;
    width: 50vmin;
    background-color: #FDF6ED;
    font-size: 1.8vmin;
    border-radius: 4vmin;
    padding: 2vh 2vh 3.5vh 2vh;
}

.edit-profile-cointainer .inputField:focus {
    box-shadow: 0 0 5pt 5pt #FCE5DF;
}


#btnEditProfile{
    margin: 4vh auto 0 auto;
}

#btnEditProfile:hover {
    box-shadow: 0px 0px 2px 2px #4E2C0D;
}


.edit-profile-cointainer .profile-picture {
    background-position-y: center;
    margin : 4% 0 0 0;
    line-height: 12vh;
    width: 12vh;
    height: 12vh;
    border-radius: 12vh;
    bottom: 0%;
    color: #88490e;
    background-color: #f0cc9d;
    font-size: 8vh;
}

.editButton {
    width: 3vw;
    height: 3vw;
    font-size: 2vw;
    font-weight: bold;
    color: #db9ba9;
    border: none;
    text-decoration: wavy;
    background-color: inherit;
    border-radius: 3vw;
    padding: 0;
}

.editButton:hover, .active{
    background-color: #FCE5DF;
    color: #4E2C0D;
    box-shadow: 1px 1px 2px 2px rgb(133, 133, 133);
}

#checkbox-admin {
    height: 4.3vmin;
    width: 1.8vmin;
    border: none !important;
    box-shadow: none !important;
}
