.signin-signup-cointainer h1 {
    margin: 0;
    font-size: 4vmin;
}

.signin-signup-cointainer p {
    margin: 0;
}

.signin-signup-cointainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 30vmin;
    height: fit-content;
    background-color: #FDF6ED;
    font-size: 2vmin;
    border-radius: 4vmin;
    padding: 30px;
}

.signin-signup-cointainer .inputField {
    display: block;
    margin: 5% 0% 0% 0%;
}

#btnSigninSignup{
    margin: 10% 0% 2% 0%;
}