/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@font-face {
    font-family: Kanit;
    src: url('../font/Kanit/Kanit-Regular.ttf');
}

a {
    color: rgb(255, 0, 255);
}

input, button {
    font-family: inherit;
    font-size: inherit;
}

html {
    font-family: Kanit;
    min-width: 100%;
    min-height: 100%;
    font-size: medium;
}

@media (min-width: 768px) {}

body {
    margin: 0;
    padding: 0;
    height: fit-content;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


/* Sticky footer styles
-------------------------------------------------- */

html {
    min-width: 100%;
    min-height: 100%;
}

nav {
    --enable: rgb(126, 126, 126);
    z-index: 5;
    position: sticky;
    background-color: #333;
    color: white;
    height: 5vmin;
    top: 0;
    width: 100%;
    border: none;
}


/*---------------------------- NAV BAR ----------------------------*/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
}

nav li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0 1.3vmin 0 1.3vmin;
    /* margin: 1.3vmin; */
    text-decoration: none;
    border: none;
    outline: none;
    background-color: inherit;
    line-height: 5vh;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    line-height: 2.5vh;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
    height: inherit;
}
/*************** WHEN HOVER DROPDOWN ***************/

/************ USER BUTTON (NEED CLICK) ************/
.dropdown-content-user-button {
    display: block;
}


/*---------------------------- NAV BAR ----------------------------*/

.container {
    position: relative;
    width: 100%;
    min-height: 85vmin;
    height: fit-content;
    min-width: 100%;
    padding: 0;
    margin: 0;
}

/* ============================ FOOTER ============================ */

footer {
    /* background-color: orangered; */
    text-align: center;
    position: relative;
    border-color: red;
    border-top-style: solid;
    border-width: 0.2vmin;
    padding: 1.3vmin 0vmin 0vmin 0vmin;
    height: 8.5vmin;
    width: 100%;
    line-height: 120%;
    font-size: 0.9em;
}

footer h2 {
    margin: 0;
    padding: 0;
}

.field-validation-error {
    color: red !important;
    font-size: 1.5vmin;
}

.input-validation-error {
    color: red !important;
    font-size: 1.5vmin;
    box-shadow: 0 0 3pt 1pt red;
}
