/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@font-face { font-family: Kanit; src: url('../font/Kanit/Kanit-Regular.ttf'); } 

a {
    font-weight: bold;
    color: #4E2C0D;
}

input, button {
    font-family: inherit;
    font-size: inherit;
}

html {
    font-family: Kanit;
    color: #4E2C0D;
    min-width: 100%;
    min-height: 100%;
    font-size: medium;
}

@media (max-width: 768px) {
    html {
        font-size: small;
    }
}

body {
    margin: 0;
    padding: 0;
    height: fit-content;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* ============================ NAV BAR ============================ */

nav {
    --enable: #684933;
    z-index: 5;
    position: sticky;
    background-color: #42260c;
    color: white; 
    height: 5vmin;
    top: 0;
    width: 100%;
    border: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    
}

nav li {
    float: left;
}

nav li a:hover, #dropdown:hover {
    background-color: #88490e;  
    height: 5vmin;
}

nav li a, .dropbtn, .user-button {
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0 1.3vmin 0 1.3vmin;
    /* margin: 1.3vmin; */
    text-decoration: none;
    border: none;
    outline: none;
    background-color: inherit;
    line-height: 5vh;
}

/*************** WHEN HOVER DROPDOWN ***************/
.dropdown:hover[general] .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FDF6ED;
    min-width: 15vmin;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    float: block;
    color: #4E2C0D;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    line-height: 2.5vh;
}
  
.dropdown-content a:hover {
    background-color: #f0cc9d;
    height: inherit;
}
/*************** WHEN HOVER DROPDOWN ***************/

/************ USER BUTTON (NEED CLICK) ************/
.dropdown-content-user-button {
    display: block;
}

.user-button {
    display: flex;
    justify-content: flex-end;
    margin:  0;
    padding: 0 0 0 5%;
    width: max-content;
    background-color: var(--enable);
    border-radius: 5vh 0 0 5vh;
}
.user-button:hover {
    background-color: #88490e;
}

.profile-picture {
    background-position-y: center;
    margin : 4% 0 0 0;
    line-height: 4vh;
    width: 4vh;
    height: 4vh;
    border-radius: 5vh;
    bottom: 0%;
    color: #88490e;
    background-color: #f0cc9d;
    font-size: 2.2vh;
}

.dropdown-content[notgeneral] {
    right: 0;
    min-width: 12.5vmin;
}

/************ USER BUTTON (NEED CLICK) ************/

/* ============================ NAV BAR ============================ */

.banner, .lab-banner {
    position: relative;
    text-align: center;
    height: 8vw;
    font-size: 5vw;
    padding: 0;
    margin: auto;
    color:#4E2C0DD0;
    width: 100%;
    background-image: radial-gradient(#ffd5cb,#fdccc0, #FDF6ED, #FFFFFF,  #FFFFFF);
    /* box-shadow: 0px 0px 5px 5px rgb(190, 190, 190); */
}

.lab-banner {
    background-color: #FCE5DF;
}

.container {
    position: relative;
    width: 100%;
    min-height: 85vmin;
    height: fit-content;
    min-width: 100%;
    padding: 0;
    margin: 0;
}

/* ============================ FOOTER ============================ */

footer {
    /* background-color: orangered; */
    text-align: center;
    position: relative;
    color : #4E2C0D;
    border-color:rgb(194, 194, 194);
    border-top-style: solid;
    border-width: 0.2vmin;
    padding: 1.3vmin 0vmin 0vmin 0vmin;
    height: 8.5vmin;
    width: 100%;
    line-height: 120%;
    font-size: 0.9em;
}

footer h2{
    margin: 0;
    padding: 0;
}

/* ============================ FOOTER ============================ */