/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@font-face { font-family: Kanit; src: url('../font/Kanit/Kanit-Regular.ttf'); } 

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


/* Provide sufficient contrast against white background */

a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


/* Sticky footer styles
-------------------------------------------------- */

html {
    font-family: Kanit;
}

@media (min-width: 768px) {

}

body {
    margin: 0;
    padding: 0;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


/* Sticky footer styles
-------------------------------------------------- */

html {
    min-width: 100%;
    min-height: 100%;
}

nav {
    z-index: 5;
    position: sticky;
    background-color: #333;
    color: white; 
    height: 5.1vmin;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
}

/*============================ NAV BAR ============================*/
nav ul {
    /* position: sticky; */
    height: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white; 
}

nav li {
    height: inherit;
    float: left;
}

nav li:hover{
    background-color: red;  
}

nav li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1.3vmin;
    text-decoration: none;
    border: none;
    outline: none;
    font-size: inherit;  
    background-color: inherit;
    font-family: inherit;
}

/****************** WHEN HOVER DROPDOWN ******************/
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
    margin: 0;
    padding: 0;
}
  
  .dropdown-content a {
    float: block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
.dropdown-content a:hover {
    background-color: #ddd;
}
/****************** WHEN HOVER DROPDOWN ******************/

/*============================ NAV BAR ============================*/

.banner {
    position: relative;
    text-align: center;
    height: 8vw;
    font-size: 5vw;
    padding: 0;
    margin: 0;
    background-color: yellow;
}

.lab-banner {
    position: relative;
    text-align: center;
    height: 8vw;
    font-size: 5vw;
    padding: 0;
    margin: 0;
    background-color: rgb(0, 225, 255);
}

.container {
    /* Margin bottom by footer height */
    position: relative;
    width: 100%;
    min-height:85vmin;
    height:fit-content;
    min-width: 100%;
    padding: 0;
    margin: 0;
}

footer {
    /* background-color: orangered; */
    text-align: center;
    position: relative;
    border-color: red;
    border-top-style: solid;
    border-width: 0.2vmin;
    padding: 1.3vmin 0vmin 0vmin 0vmin;
    bottom: 0px;
    left: 0px;
    height: 8.4vmin;
    width: 100%;
    line-height: 120%;
    font-size: 0.9em;
}

footer h2{
    margin: 0;
    padding: 0;
}

.field-validation-error {
    color: red !important;
    font-size: 1.5vmin;

}

.input-validation-error {
    color: red !important;
    font-size: 1.5vmin;
    box-shadow: 0 0 3pt 1pt red;
}
