@model ozzy_mvc.Models.Student

@{
    ViewData["Title"] = "Create";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Register</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/create.css" />
</head>

<body>
    <div class="contain-form-regis">
        <div class="form-regis">
            <h1>Register</h1>
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="Username" class="form-control" placeholder="Username" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Firstname" class="form-control" placeholder="Firstname" />
                            <span asp-validation-for="Firstname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Lastname" class="form-control" placeholder="Lastname" />
                            <span asp-validation-for="Lastname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Confirm-Password" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Sign Up" id="btnSignUpRe" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}