@model ozzy_mvc.Models.Student

@{
    ViewData["Title"] = "Create";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Register</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/create.css" />
</head>


<div class="form-login-regis">

    <h1>Register</h1>

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="error"></div>

        <input asp-for="Username" class="inputField" placeholder="Username" />
        <span asp-validation-for="Username" class="error"></span>

        <input asp-for="Firstname" class="inputField" placeholder="Firstname" />
        <span asp-validation-for="Firstname" class="error"></span>

        <input asp-for="Lastname" class="inputField" placeholder="Lastname" />
        <span asp-validation-for="Lastname" class="error"></span>

        <input type="password" asp-for="Password" class="inputField" placeholder="Password" />
        <span asp-validation-for="Password" class="error"></span>

        <input type="password" asp-for="ConfirmPassword" class="inputField" placeholder="Confirm Password" />
        <span asp-validation-for="ConfirmPassword" class="error"></span>

        <input type="submit" value="Sign Up" id="btnSignUpRe" />
        <p>
            Already have an account?
            <a asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
        </p>
    </form>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}