@model ozzy_mvc.Models.Student

@{
    ViewData["Title"] = "Edit Profile";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>@ViewData["Title"] - ozzy_mvc</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/edit-profile.css" />
</head>

<body>

<div class="edit-profile-cointainer">

    <h1>Edit Profile</h1>

    <div class="profile-picture">
        @Context.Request.Cookies["CurrentUsername"].Substring(0,1)
    </div>

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>  @* WTF THIS LINE*@

            @* <input type="hidden" asp-for="StudentID" /> *@

            <label asp-for="Username">
                Username
                <input asp-for="Username" class="inputField"/>
            </label>
            <span asp-validation-for="Username" class="error"></span>

            <label asp-for="Firstname">
                Firstname
                <input asp-for="Firstname" class="inputField"/>
            </label>
            <span asp-validation-for="Firstname" class="error"></span>

            <label asp-for="Lastname">
                Lastname
                <input asp-for="Lastname" class="inputField"/>
            </label>
            <span asp-validation-for="Lastname" class="error"></span>

            <label asp-for="Password">
                Password
                <input type="password" asp-for="Password" class="inputField"/>
            </label>
            <span asp-validation-for="Password" class="error"></span>

            <input type="submit" value="Save" id="btnEditProfile"/>

            @* <input class="form-check-input" asp-for="IsBlacklisted" /> @Html.DisplayNameFor(model => model.IsBlacklisted)
            
            <div>
                <a asp-action="Index">Back to List</a>
            </div> *@
    </form>

</div>
   


</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
